/* Link to Adobe Fonts containting Acumin, Neuzeit Grotesk, Franklin Gothic URW, and Mr Eaves Sans */
@import url("https://use.typekit.net/nqj6gya.css");

body {
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  font-weight: normal;
}

p {
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
}

.btn-flat {
  background-color: white;
}

.btn-xxl {
  font-size: xx-large;
  font-weight: bolder;
}

.progress.turquoise .progress-bar {
  background-color: #037963;
}
